
.cell {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px #fff solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .shape {
        min-width: 25px;
        min-height: 25px;
    }

    .selected {
        box-shadow:0 0 10px #faed27;
    }
    .possible {
        background-color: lightblue;
        position: absolute;
    }
}

.white {
    background-color: grey;
}

.black {
    background-color: #000;
}

.ebony {
    background-color: #282C35;
}

.red {
    background-color: red ;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.circle { 
    border-radius: 50%;
}

.square { 

}

.oval {
    height: 30px;
    border-radius: 50%;
}