.shape {
    min-width: 25px;
    min-height: 25px;
}

.white {
    background-color: grey;

}

.black {
    background-color: #000;
}

.red {
    background-color: red ;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.circle { 
    border-radius: 50%;
}

.square { 

}

.oval {
    height: 30px;
    border-radius: 50%;
}